// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-runner {
  background: @tool-panel-background-color;

  overflow-y: scroll;
  color: @text-color;

  pre {
    background-color: @tool-panel-background-color;

    .stderr { color: @text-color-error; }
  }

  .footer {
    color: @text-color;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  h1 {
    margin-left: 10px;
  }
}
